
/*Font*/
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Lato', sans-serif;
$font-light: 300;
$font-regular: 400;
$font-bold: 700;
$font-content: 21px;
$font-h1: 36px;
$font-h2: 24px;

$font-h1-mobile: 22px;
$font-h2-mobile: 20px;
$font-content-mobile: 15px;
$font-mobile-btn: 21px;
/*couleurs*/
$primary: #0C2232;
$secondary: #496677;
$tertiary: #7D9DAB;
$quaternary: #74899E;
$button-color: #BC8B3D;
$background-color: #f2f2f2;
$white: white;
$gradient-dark: linear-gradient(to left, #222, #1a1a1a);

/*box shadow*/
$shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.25);
/*Margin*/
$margin-content: 210px;
$margin-section: 100px;
$margin: 30px;

$margin-section-mobile:20px;
$margin-content-mobile: 10px;
/*padding*/
$padding-xs: 5px;
$padding-s: 10px;
$padding: 20px;
$padding-l: 30px;
$padding-xl: 40px;
/*Gap*/
$gap: 10px;
/*border-radius*/
$border-radius: 13px;
$border-raduis-card: 5px;