@use '../../../variables.scss' as *;

section {
    margin-bottom: 100px;

    .card-single-other {
        width: 300px;
        margin-left: auto;
        margin-right: auto;

        .card-single-other__title {
            text-transform: uppercase;
            background: $tertiary ;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            text-align: center;

            h1 {
                margin: 0px;
                padding: $padding-s;
            }
        }

        .login-form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 30px;
            padding-bottom: 30px;
            width: 100%;
            box-sizing: border-box;

            form {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                row-gap: 30px;
                margin-bottom: 10px;

               
                    input {
                        border-color: $secondary;
                        padding: 14px;
                        border-radius: 13px;
                        -webkit-border-radius: 13px;
                        -moz-border-radius: 13px;
                        -ms-border-radius: 13px;
                        -o-border-radius: 13px;
                        color: $secondary;

                    
                }
            }
        }
    }
}

input::placeholder {
    font-weight: bold;
    opacity: 0.5;
    color: $secondary !important;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 10px;
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}


@media (min-width: 768px) {
    section {
            margin-bottom: 100px;
    
            .card-single-other {
                width: 600px;
    
                .login-form {
                    form {
                        input {
                            border-color: $secondary;
                            padding: 14px;
                            border-radius: 13px;
                            -webkit-border-radius: 13px;
                            -moz-border-radius: 13px;
                            -ms-border-radius: 13px;
                            -o-border-radius: 13px;
                            color: $secondary;
    
                            min-width: 300px;
                        }
                    }
                }
            }
        }
}

@media (min-width: 1024px) {

    section {
            margin-bottom: 100px;
    
            .card-single-other {
                width: 900px;
        
                .login-form {
                    form {
                        input {
                            border-color: $secondary;
                            padding: 14px;
                            border-radius: 13px;
                            -webkit-border-radius: 13px;
                            -moz-border-radius: 13px;
                            -ms-border-radius: 13px;
                            -o-border-radius: 13px;
                            color: $secondary;
    
    min-width: 300px;
                        }
                    }
                }
            }
        }

}


.btn-card-new {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;

    p {
        margin: 0;
        color: black;

    }

    i {
        padding-right: $padding-xs;
    }
}