<section class="section section-admin">





    <div>
        <div class="section-admin__title">
            <h1>Images:</h1>
        </div>
        <div>
            <table class="section-admin__content">
                <thead>
                    <tr>
                        <th scope="col">Image</th>
                        <th scope="col">Url</th>
                        <th scope="col">est principale</th>
                        <th scope="col">Manga</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let picture of pictures?.content; let i = index">
                        <td><img class="image" src="{{picture.url}}" alt=""></td>
                        <td>{{ picture.url }}</td>
                        <td>{{picture.isMain}}</td>
                        <td> {{ picture.idMangas.title }}  </td>
                        <td>
                            <a  [routerLink]="['/admin/picture/', picture.id]" class="btn btn-edit">Modifier</a>
                            <a href="#" (click)="deletePicture(picture.id); $event.preventDefault()" class="btn btn-delete">Supprimer</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


    </div>

</section>
<nav role="navigation" aria-label="Pagination">
    <ul class="pagination">
        @for(page of pages; track page; let count=$index){
        @if(count===0){
        <li>
            <button (click)="pagePrevious()" [ngClass]="currentPage <= 0 ? 'grey-desactive-btn': 'blue-active-btn'"
                aria-label="Page précédente" class="">
                Previous
            </button>
        </li>
        }

        <li>
            <button (click)="pagePicture(page)" [attr.aria-current]="currentPage===page ? 'page' : null"
                [attr.aria-label]="'Page ' + (count + 1)" class="">
                {{count + 1}}
            </button>
        </li>

        @if(count===lastPage-1){
        <li>
            <button (click)="pageNext()" [ngClass]="currentPage===lastPage-1 ? 'grey-desactive-btn': 'blue-active-btn'"
                aria-label="Page suivante" class="">
                Next
            </button>
        </li>
        }
        }
    </ul>
</nav>