<section class="section section-admin">
    <button (click)="openModal()" class="btn btn-primary">+ Ajouter une catégorie</button>

    <div class="modal" [class.show]="isModalOpen">
        <div class="modal-content">
            <span class="close" (click)="closeModal()">&times;</span>

            <div class="section-admin__title">
                <h2>Nouvelle catégorie</h2>
            </div>

            <!-- Formulaire réactif -->
            <form [formGroup]="categoryForm" (ngSubmit)="createCategory()">
            
                <!-- Label -->
                <label>Label</label>
                <input type="text" formControlName="label" />
                <div *ngIf="categoryForm.get('label')?.invalid && categoryForm.get('label')?.touched">
                    <small *ngIf="categoryForm.get('label')?.errors?.['required']">
                        Le label est requis.
                    </small>
                    <small *ngIf="categoryForm.get('label')?.errors?.['htmlTagDetected']">
                        Le label ne doit pas contenir de balises HTML.
                    </small>
                </div>
            
                <!-- Description -->
                <label>Description</label>
                <textarea formControlName="description"></textarea>
                <div *ngIf="categoryForm.get('description')?.invalid && categoryForm.get('description')?.touched">
                    <small *ngIf="categoryForm.get('description')?.errors?.['required']">
                        La description est requise.
                    </small>
                    <small *ngIf="categoryForm.get('description')?.errors?.['htmlTagDetected']">
                        La description ne doit pas contenir de balises HTML.
                    </small>
                </div>
            
                <!-- URL -->
                <label>Image URL</label>
                <input type="text" formControlName="url" />
                <div *ngIf="categoryForm.get('url')?.invalid && categoryForm.get('url')?.touched">
                    <small *ngIf="categoryForm.get('url')?.errors?.['required']">
                        L'URL de l’image est requise.
                    </small>
                    <small *ngIf="categoryForm.get('url')?.errors?.['invalidUrl']">
                        L’URL doit commencer par http:// ou https://.
                    </small>
                </div>
            
                <button type="submit" [disabled]="categoryForm.invalid">Créer</button>
            </form>
              
              
        </div>
    </div>

    <div>
        <div class="section-admin__title">
            <h1>Catégories:</h1>
        </div>
        <div class="loading-spinner" *ngIf="isLoading">
            <mat-spinner diameter="40" color="primary"></mat-spinner>
        </div>
        <div *ngIf="!isLoading && !categories && showEmptyMessage">
            <p>Aucune catégories trouvé.</p>
        </div>

        <table class="section-admin__content" *ngIf="!isLoading && categories  ">
            <thead>
                <tr>
                    <th scope="col">Titre</th>
                    <th scope="col">Date de création</th>
                    <th scope="col">Image</th>
                    <th scope="col">Description</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let category of categories?.content; let i = index">
                    <td>{{ category.label }}</td>
                    <td>{{ category.createdAt | date:'dd/MM/yyyy' }}</td>
                    <td><img class="image" [src]="category.url" alt="{{ category.label }}" /></td>
                    <td>
                        {{ category.description.length > 100 ? (category.description | slice:0:100) + '...' :
                        category.description }}
                    </td>
                    <td>
                        <a [routerLink]="['/admin/category', category.id]" class="btn btn-edit">Modifier</a>
                        <a href="#" class="btn btn-delete" (click)="deleteCategory(category.id); $event.preventDefault()">Supprimer</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
        <nav role="navigation" aria-label="Pagination">
            <ul class="pagination">
                @for(page of pages; track page; let count=$index){
                @if(count===0){
                <li>
                    <button (click)="pagePrevious()" [ngClass]="currentPage <= 0 ? 'grey-desactive-btn': 'blue-active-btn'"
                        aria-label="Page précédente"
                        class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg">
                        Previous
                    </button>
                </li>
                }
        
                <li>
                    <button (click)="pageCategories(page)" [attr.aria-current]="currentPage===page ? 'page' : null"
                        [attr.aria-label]="'Page ' + (count + 1)"
                        class="flex items-center justify-center px-4 h-10 leading-tight text-black bg-white border border-gray-300">
                        {{count + 1}}
                    </button>
                </li>
        
                @if(count===lastPage-1){
                <li>
                    <button (click)="pageNext()" [ngClass]="currentPage===lastPage-1 ? 'grey-desactive-btn': 'blue-active-btn'"
                        aria-label="Page suivante"
                        class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg">
                        Next
                    </button>
                </li>
                }
                }
            </ul>
        </nav>
</section>
  