<section class="section section-admin">


    <button (click)="openModal()" class="btn btn-primary">+ Ajouter un genre</button>
    
    <div class="modal" [class.show]="isModalOpen">
        <div class="modal-content">
            <span class="close" (click)="closeModal()">&times;</span>
    
            <div class="section-admin__title">
                <h2>Nouveau genre</h2>
            </div>
    
            <form [formGroup]="genreForm" (ngSubmit)="createGenre()">
            
                <label>Label</label>
                <input type="text" formControlName="label" />
                <div *ngIf="genreForm.get('label')?.touched && genreForm.get('label')?.errors">
                    <small *ngIf="genreForm.get('label')?.errors?.['required']">
                        Le label est requis.
                    </small>
                    <small *ngIf="genreForm.get('label')?.errors?.['noHtml']">
                        Les balises HTML ne sont pas autorisées.
                    </small>
                </div>
            
                <label>Description</label>
                <textarea formControlName="description"></textarea>
                <div *ngIf="genreForm.get('description')?.touched && genreForm.get('description')?.errors">
                    <small *ngIf="genreForm.get('description')?.errors?.['required']">
                        La description est requise.
                    </small>
                    <small *ngIf="genreForm.get('description')?.errors?.['noHtml']">
                        Les balises HTML ne sont pas autorisées.
                    </small>
                </div>
            
                <label>Image URL</label>
                <input type="text" formControlName="url" />
                <div *ngIf="genreForm.get('url')?.touched && genreForm.get('url')?.errors">
                    <small *ngIf="genreForm.get('url')?.errors?.['required']">
                        L'URL de l’image est requise.
                    </small>
                    <small *ngIf="genreForm.get('url')?.errors?.['invalidUrl']">
                        L'URL n'est pas valide.
                    </small>
                </div>
            
                <button type="submit" [disabled]="genreForm.invalid">Créer</button>
            </form>
              

    
        </div>
    </div>




    
    <div>
        <div class="section-admin__title">
            <h1>Genres</h1>
        </div>
        <div class="loading-spinner" *ngIf="isLoadingGenre">
            <mat-spinner diameter="40" color="primary"></mat-spinner>
        </div>
        <div *ngIf="!isLoadingGenre && !genres && showEmptyMessage">
            <p>Aucun genres trouvé.</p>
            </div>
        <table class="section-admin__content" *ngIf="!isLoadingGenre && genres">
            <thead>
                <tr>
                    <th scope="col">Titre</th>
                    <th scope="col">Date de création</th>
                    <th scope="col">Image</th>
                    <th scope="col">Description</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
    
            <tbody>
                <tr *ngFor="let genre of genres?.content; let i = index">
                    <td>{{ genre.label }}</td>
                    <td>{{ genre.createdAt | date:'dd/MM/yyyy' }}</td>
                    <td><img class="image" [src]="genre.url" alt="{{ genre.label }}" /></td>
                    <td>
                        {{ genre.description.length > 100 ? (genre.description | slice:0:100) + '...' :
                        genre.description }}
                    </td>
                    <td>
                        <a [routerLink]="['/admin/genre', genre.id]" class="btn btn-edit">Modifier</a>
                        <a href="#" class="btn btn-delete" (click)="deleteGenre(genre.id); $event.preventDefault()">Supprimer</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <nav aria-label="Pagination">
        <ul class="pagination">
            @for(page of pages; track page; let count=$index){
            @if(count===0){
            <li>
                <button (click)="pagePrevious()" [ngClass]="currentPage <= 0 ? 'grey-desactive-btn': 'blue-active-btn'"
                    aria-label="Page précédente"
                    class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg">
                    Previous
                </button>
            </li>
            }
    
            <li>
                <button (click)="pageGenres(page)" [attr.aria-current]="currentPage===page ? 'page' : null"
                    [attr.aria-label]="'Page ' + (count + 1)"
                    class="flex items-center justify-center px-4 h-10 leading-tight text-black bg-white border border-gray-300">
                    {{count + 1}}
                </button>
            </li>
    
            @if(count===lastPage-1){
            <li>
                <button (click)="pageNext()" [ngClass]="currentPage===lastPage-1 ? 'grey-desactive-btn': 'blue-active-btn'"
                    aria-label="Page suivante"
                    class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg">
                    Next
                </button>
            </li>
            }
            }
        </ul>
        </nav>
</section>

