<section class="section section-admin">


    <button (click)="openModal()" class="btn btn-primary">+ Ajouter un genre</button>
    
    <div class="modal" [class.show]="isModalOpen">
        <div class="modal-content">
            <span class="close" (click)="closeModal()">&times;</span>
    
            <div class="section-admin__title">
                <h2>Nouveau genre</h2>
            </div>
    
            <!-- Formulaire réactif -->
            <form [formGroup]="categoryForm"  (ngSubmit)="createGenre()">
    
                <label>Label</label>
                <input type="text" formControlName="label" />
                <div *ngIf="categoryForm.get('label')?.invalid && categoryForm.get('label')?.touched">
                    <small>Le label est requis.</small>
                </div>
    
                <label>Description</label>
                <textarea formControlName="description"></textarea>
                <div *ngIf="categoryForm.get('description')?.invalid && categoryForm.get('description')?.touched">
                    <small>La description est requise.</small>
                </div>
    
                <label>Image URL</label>
                <input type="text" formControlName="url" />
                <div *ngIf="categoryForm.get('url')?.invalid && categoryForm.get('url')?.touched">
                    <small>L'URL de l’image est requise.</small>
                </div>
    
                <button type="submit" [disabled]="categoryForm.invalid">Créer</button>
            </form>
    
    
        </div>
    </div>

    <div>
        <div class="section-admin__title">
            <h1>Catégories</h1>
        </div>
    
        <table class="section-admin__content">
            <thead>
                <tr>
                    <th scope="col">Titre</th>
                    <th scope="col">Date de création</th>
                    <th scope="col">Image</th>
                    <th scope="col">Description</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
    
            <tbody>
                <tr *ngFor="let genre of genres?.content; let i = index">
                    <td>{{ genre.label }}</td>
                    <td>{{ genre.createdAt | date:'dd/MM/yyyy' }}</td>
                    <td><img class="image" [src]="genre.url" alt="{{ genre.label }}" /></td>
                    <td>
                        {{ genre.description.length > 100 ? (genre.description | slice:0:100) + '...' :
                        genre.description }}
                    </td>
                    <td>
                        <a [routerLink]="['/admin/categories/edit', genre.id]" class="btn btn-edit">Modifier</a>
                        <a href="#" class="btn btn-delete" (click)="deleteGenre(genre.id); $event.preventDefault()">Supprimer</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</section>

