ul{
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    padding-left: 0px;
    li{
     display: inline-block;
    }
}

