<header>
  <nav>
    <div class="first-nav">
      <a routerLink="/">
        <img class="logo" src="images/manga-up-logo.webp" alt="logomanga UP">

      </a>
      <div>
        <form class="search" action="">

          <input type="text" name="query" placeholder="Rechercher..." required>
          <!-- <button type="submit">Rechercher</button> -->

        </form>
      </div>
      <div class="first-nav__icons">
        <a><img src="svg/mdi_user.svg" alt="" class="icons"></a>
        <img src="svg/material-symbols_list.svg" class="icons  menu" alt="" (click)="openNav()">
        <a><img src="svg/mdi_cart-outline.svg" alt="" class="icons"></a>
      </div>
    </div>
    <div class="secondary-nav">
      <div class="secondary-content">
        <div>
          <div>
            <a routerLink="mangas">
              <img src="svg/mynaui_book-solid.svg" class="icons" alt="">
              <p>Mangas</p>
            </a>
          </div>
        </div>
        <div>
          <div>
            <a routerLink="genres">
              <img src="svg/material-symbols_list_white.svg" class="icons" alt="">
              <p>Genres</p>
            </a>

          </div>

        </div>
        <div>
          <div>
            <a routerLink="categories">
              <img src="svg/material-symbols_list_white.svg" class="icons" alt="">
              <p>Catégories</p>
            </a>

          </div>
        </div>
        <div>
          <div>
            <a routerLink="auteurs">
              <img src="svg/mdi_pen.svg" class="icons" alt="">
              <p>Auteurs</p>
            </a>

          </div>
        </div>
      </div>
    </div>

  </nav>
</header>
<div #mySidenav id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <div class="menu">

    <a routerLink="mangas" (click)="closeNav()">
      <div class="menu__item">
        <img src="svg/mynaui_book-solid.svg" class="icons" alt="">
        <img src="images/line-off-canvas.webp" alt="">

        <p>Mangas</p>
      </div>
    </a>

    <a routerLink="genres" (click)="closeNav()">
      <div class="menu__item">
        <img src="svg/material-symbols_list_white.svg" class="icons" alt="">
        <img src="images/line-off-canvas.webp" alt="">
        <p>Genres</p>

      </div>
    </a>

    <a routerLink="categories" (click)="closeNav()">
      <div class="menu__item">
        <img src="svg/material-symbols_list_white.svg" class="icons" alt="">
        <img src="images/line-off-canvas.webp" alt="">
        <p>Catégories</p>

      </div>
    </a>

    <a routerLink="auteurs" (click)="closeNav()">
      <div class="menu__item">
        <img src="svg/mdi_pen.svg" class="icons" alt="">
        <img src="images/line-off-canvas.webp" alt="">
        <p>Auteurs</p>
      </div>
    </a>
  </div>

</div>


<xng-breadcrumb class="breadcrumb">

</xng-breadcrumb>


<router-outlet />



<footer>
  <div>
    <div class="footer-link">
      <a>Contact</a>
      <a routerLink="privacy">Cookies et vie privée</a>
      <a >Connexion</a>
    </div>
    <div class="sociale">
      <img src="svg\ic_baseline-discord.svg" class="icons">
      <img src="svg\prime_twitter.svg" class="icons">
      <img src="svg\ic_baseline-facebook.svg" class="icons">
      <img src="svg\lets-icons_insta.svg" class="icons">
    </div>
  </div>
  <div>
    <img src="images/Line_1.webp" alt="">
  </div>
  <div>
    <p>Copyright © 2025 Manga’Up </p>
  </div>
</footer>