<article class="section">
    <div class="card card-single-other">
        <div class="card-single-other__title">
            <h1>Mon Panier</h1>
        </div>

  <div class="cart">
  <div class="cart_product">
    <div class="cart_product__img">
        <img src="assets/images/produits/1.jpg" alt="Produit 1">
    </div>
    <div class="cart_product__info">
        <div class="cart_product__info__title">
           <h2>Informations</h2>
        </div>
      <div class="cart_product__info__title__name">
        <h3>Produit 1</h3>
        <p>prix:</p>
        <p>Quantité:</p>
      </div>
    </div>
  </div>
  <div class="cart_full_price">
    <h2>Total : 20€</h2>
  </div>
  </div>


    </div>

</article>
