<section class="section section-admin">

    <div>
        <div class="section-admin__title">
            <h1>Mangas:</h1>
        </div>
        <table  class="section-admin__content"  >
            <thead>
                <tr>
                  <th scope="col">Titre</th>
                  <th scope="col">Date de creation</th>
                  <th scope="col">Prix</th>
                  <th scope="col">Auteurs</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
    
              </tbody>
        </table>
    </div>

</section>

