<article class="section">

    <div class="loading-spinner" *ngIf="isLoadingManga">
        <mat-spinner diameter="40" color="primary"></mat-spinner>
    </div>
    <div *ngIf="!isLoadingManga && !manga && showEmptyMessage">
        <p>Aucun manga trouvé.</p>
    </div>
    <div class="card card-single-manga"    *ngIf="!isLoadingManga && manga  ">
        <div class="card-single-manga__title">
            <h1>{{manga.title}}</h1>
        </div>
        <div class="card-padding">
            <div class="card-single-manga__content">
                <div class="card-single-manga__img">
                    @for (picture of manga.pictures; track $index) {
                    @if (picture.isMain == true) {
                    <img src="{{picture.url}}" alt="Image principaelle du manga {{manga.title}}">
                    }
                    }

                    <div class="card-single-manga__icons">
                        <img src="svg/mdi_cart-outline_black.svg" alt="">
                        <app-favorite-button></app-favorite-button>
                    </div>
                </div>
                <div class="card card-content">
                    <div class="card-content__title">
                        <h2>information</h2>
                    </div>
                    <div class="card-content__infos">
                        <div><span>Titre:</span> {{manga.title}}</div>
                         
                        <div *ngIf="manga?.authors as authors">
                            <span>Auteurs:</span>
                            <div *ngFor="let author of authors; let i = index">
                                <a [routerLink]="['/auteur', author.id]">
                                    {{ author.firstname }} {{ author.lastname }}
                                </a>
                                <span *ngIf="i < authors.length - 1">, </span>
                            </div>
                        </div>
                          
                       
                        <div><span>Catégorie : </span>
                            <a [routerLink]="['/categorie', manga.idCategories.id]">
                            {{manga.idCategories.label}}
                            </a>
                        </div>

                        <div *ngIf="manga?.genres as genres">
                            <span>Genres:</span>
                            <div *ngFor="let genre of genres; let i = index">
                                <a [routerLink]="['/genre', genre.id]">
                                    {{ genre.label}}
                                </a>
                                <span *ngIf="i < genres.length - 1">, </span>
                            </div>
                        </div>

                        <p><span>Année de publication:</span> {{ getYearFromDate(manga.releaseDate) }}</p>
                        <div><span>Prix:</span> {{manga.price}} €</div>
                        <div><span>France:</span> Oui</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-padding">
            <div class=" card card-single__summary">
                <div class="card-single__summary-title">
                    <h2>summary</h2>
                </div>
                <div class="card-single__summary-content">
                    <p>{{manga.summary}}</p>
                </div>
            </div>
        </div>


    </div>
</article>

<!-- <section class="section">
    <div class="card card-comments">
        <div class="card-comments__title">
            <h2>Commentaires</h2>
        </div>
        <div class="card-padding">
            <div class="card-comments__comments">
                <article class="comment">
                    <img src="images/profil_test.webp" alt="">
                    <div class="card card-comment">
                        <div class="card-comment__user">
                            <p><strong>#1</strong> - Par <span>lorem</span> le 26/12/2000</p>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur...</p>
                    </div>
                </article>
            </div>
        </div>

    </div>


</section> -->