<article class="section">
    <div class="card card-single-manga">
        <div class="card-single-manga__title">
            <h1>{{manga?.title}}</h1>
        </div>
        <div class="card-padding">
            <div class="card-single-manga__content">
                <div class="card-single-manga__img">
                    <img src="images/naruto.webp" alt="">
                    <div class="card-single-manga__icons">
                        <img src="svg/mdi_cart-outline_black.svg" alt="">
                        <img src="svg/mdi_heart-outline_black.svg" alt="">
                    </div>
                </div>
                <div class="card card-content">
                    <div class="card-content__title">
                        <p>information</p>
                    </div>
                    <div class="card-content__infos">
                        <div><span>Titre:</span> {{manga?.title}}</div>
                        <div><span>Auteurs:</span> Kishimoto Masashi</div>
                        <div><span>Année de sortie:</span> 2002</div>
                        <div><span>Prix:</span> {{manga?.price}} €</div>
                        <div><span>France:</span> Oui</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-padding">
            <div class=" card card-single__summary">
                <div class="card-single__summary-title">
                    <p>summary</p>
                </div>
                <div class="card-single__summary-content">
                    <p>{{manga?.summary}}</p>
                </div>
            </div>
        </div>


    </div>
</article>

<section class="section">
    <div class="card card-comments">
        <div class="card-comments__title">
            <h2>Commentaires</h2>
        </div>
        <div class="card-padding">
            <div class="card-comments__comments">
                <article class="comment">
                    <img src="images/profil_test.webp" alt="">
                    <div class="card card-comment">
                        <div class="card-comment__user">
                            <strong>#1</strong> - Par <span>lorem</span> le 26/12/2000
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur...</p>
                    </div>
                </article>
            </div>
        </div>

    </div>
</section>