@use '../../../variables.scss' as *;

.card-single-manga {
    width: 100%;

    .card-single-manga__title {
        text-transform: uppercase;
        background: $tertiary ;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

        h1 {
            margin: 0px;
            padding: $padding-s;
        }
    }

    .card-padding {
        .card-single__summary {
            .card-single__summary-title {
                text-transform: uppercase;
                background: $tertiary ;
                padding: $padding-xs;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;

                p {
                    margin: 0px;

                }
            }

            .card-single__summary-content {
                padding: $padding-xs;
            }
        }

        .card-single-manga__content {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-between;
            row-gap: 60px;

            .card-single-manga__img {
                display: flex;
                flex-direction: column;
                width: 100%;

                .card-single-manga__icons {
                    background: $secondary;
                    display: flex;
                    justify-content: center;
                    gap: $gap;
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;
                }
            }

            .card-content {
                display: flex;
                flex-direction: column;

                .card-content__title {
                    text-transform: uppercase;
                    background: $tertiary ;
                    padding: $padding-xs;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;

                    p {
                        margin: 0px;

                    }
                }



                .card-content__infos {
                    padding: $padding-xs;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding-top: $padding;
                    padding-bottom: $padding;
                    row-gap: 20px;

                    span {
                        text-transform: uppercase;
                        font-weight: $font-bold;

                    }
                }
            }

        }

    }

}

.card-comments {
    display: flex;
    flex-direction: column;

    .card-comments__title {
        text-transform: uppercase;
        background: #7D9DAB;
        margin: 0px;
        padding: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

        h2 {
            margin: 0;
        }
    }

    .card-padding {
        .card-comments__comments {
            .comment {
                .card-comment__user {
                    text-transform: uppercase;
                    background: $primary;
                    margin: 0px;
                    padding: 5px;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;

                    span {
                        color: $button-color;
                    }
                }

                p {
                    padding-right: $padding;
                    padding-left: $padding;
                    padding-top: $padding-s;
                    padding-bottom: $padding-s;
                    margin: 0;
                }
            }
        }
    }
}

@media (min-width: 1024px) {

    .card-single-manga {




        .card-padding {
            padding-left: 115px;
            padding-right: 115px;

            .card-single__summary {
                .card-single__summary-title {
                    background: $tertiary ;
                    padding: $padding-xs;

                    p {
                        margin: 0px;

                    }
                }

                .card-single__summary-content {
                    padding: $padding-xs;
                }
            }

            .card-single-manga__content {

                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                row-gap: 60px;

                .card-single-manga__img {
                    display: flex;
                    flex-direction: column;
                    min-width: 320px;
                    width: 30%;

                    .card-single-manga__icons {
                        background: $secondary;
                        display: flex;
                        justify-content: center;
                        gap: $gap;
                        border-bottom-left-radius: 5px;
                        border-bottom-right-radius: 5px;
                    }
                }

                .card-content {
                    display: flex;
                    flex-direction: column;
                    min-width: 320px;
                    width: 30%;

                    .card-content__title {
                        text-transform: uppercase;
                        background: $tertiary ;
                        padding: $padding-xs;
                        border-top-left-radius: 5px;
                        border-top-right-radius: 5px;

                        p {
                            margin: 0px;

                        }
                    }



                    .card-content__infos {
                        padding: $padding-xs;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        padding-top: $padding;
                        padding-bottom: $padding;
                        row-gap: 20px;

                        span {
                            text-transform: uppercase;
                            font-weight: $font-bold;

                        }
                    }
                }

            }

        }

    }

    .card-comments {
        .card-padding {
            .card-comments__comments {
                .comment {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    column-gap: 30px;

                    .card-comment {
                        min-width: 640px;
                        max-width: 640px;

                        .card-comment__user {
                            text-transform: uppercase;
                            background: $primary;
                            margin: 0px;
                            padding: 5px;
                            border-top-left-radius: 5px;
                            border-top-right-radius: 5px;

                            span {
                                color: $button-color;
                            }
                        }
                    }

                    p {
                        padding-right: $padding;
                        padding-left: $padding;
                        padding-top: $padding-s;
                        padding-bottom: $padding-s;
                        margin: 0;
                    }
                }
            }
        }
    }
}