@use '../../../variables.scss' as *;




.card-manga {
    min-width: 218px;
    max-width: 218px;
    min-height: 450px;
    max-height: 450px;
}

.card-genre{
   width: 250px;
   height: 308px;
}

@media (min-width: 1024px) {
    .card-genre{
        width: 300px;
        height: 308px;
     }
}