
<article class="section">
    <div class="card card-single-auteur">
        <div class="card-single-auteur__title">
            <h1>Naruto</h1>
        </div>
        <div class="card-padding">
            <div class="card-single-auteur__content">
                <div class="card-single-auteur__img">
                    <img src="images\kishimoto_masashi.webp" alt="">
                </div>
                <div class="card card-content">
                    <div class="card-content__title">
                        <p>information</p>
                    </div>
                    <div class="card-content__infos">
                        <div><span>Titre:</span> Naruto</div>
                        <div><span>Auteurs:</span> Kishimoto Masashi</div>
                        <div><span>Année de sortie:</span> 2002</div>
                        <div><span>Prix:</span> 7,30 €</div>
                        <div><span>France:</span> Oui</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-padding">
            <div class=" card card-single__summary">
                <div class="card-single__summary-title">
                    <p>summary</p>
                </div>
                <div class="card-single__summary-content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui tempora ducimus corrupti
                        dolorum,
                        tempore adipisci dolore dicta repudiandae. Consequatur quas ipsam similique dignissimos
                        quod!
                        Quia
                        laboriosam ullam alias repudiandae rerum!</p>
                </div>
            </div>
        </div>


    </div>
</article>

<section class="section">
    <div class="section__title">
        <h2>Mangas de l'auteur</h2>
    </div>

</section>