<section class="section">
    <div class="card card-cookie">
        <div class="card-cookie__title">
            <h1>COOKIES ET VIE PRIVÉE</h1>
        </div>
        <div class="card-cookie__content">
            <h2>Politique de Confidentialité et Utilisation des Cookies</h2>
            <p>Votre confiance est essentielle pour nous. Voici comment nous traitons vos données personnelles et
                utilisons les cookies sur ce site.</p>

            <div>
                <h2>1. Collecte de Données : </h2>
                <p>Nous collectons des informations uniquement lorsque cela est nécessaire, telles que :</p>
                <ul>
                    <li>Vos coordonnées (nom, email, téléphone) fournies via le formulaire de contact.</li>
                    <li>Des données sur votre navigation via des cookies.</li>
                </ul>
            </div>


            <div>

                <h2>2. Utilisation des Données :</h2>
                <p>Les données collectées sont utilisées pour :</p>
                <ul>
                    <li>Répondre à vos demandes.</li>
                    <li>Améliorer notre site et personnaliser votre expérience.</li>
                </ul>
            </div>

            <div>
                <h2>3. Cookies : </h2>
                <p>Les cookies sont de petits fichiers enregistrés sur votre appareil pour :</p>
                <ul>
                    <li>Analyser le trafic sur notre site.</li>
                    <li>Personnaliser votre navigation. Vous pouvez configurer votre navigateur pour bloquer ou
                        supprimer les cookies si vous le souhaitez.</li>
                </ul>

            </div>
            <div>
                <h2>4. Protection des Données : </h2>

                <p>Nous appliquons des mesures de sécurité rigoureuses pour protéger vos informations personnelles.
                </p>
            </div>

            <div>
                <h2>5. Vos Droits : </h2>


                <p>Vous avez le droit de :</p>
                <ul>
                    <li>Accéder, modifier ou supprimer vos données personnelles.</li>
                    <li>Désactiver les cookies via les paramètres de votre navigateur.
                        Pour toute question ou demande relative à vos données personnelles ou aux cookies,
                        contactez-nous à :[Adresse email ou lien pour des questions sur la vie privée]</li>
                </ul>
            </div>
        </div>

    </div>
</section>
