<section class="section">
    <div class="section__title">
        <h1>Categories</h1>


        <div class="section__grid">
            @for (category of categories?.content; track category.id) {
        
            <ui-card size="card-genre">
                <img src="" alt="{{category.label}}">
        
                <div>
                    <h3 class="card-genre__title">{{category.label}}</h3>
        
                    <a [routerLink]="'/categorie/' + category.id" class="btn btn-card"> <img src="svg/mdi_magnify.svg" alt="">
                        <p>voir plus</p>
                    </a>
                </div>
            </ui-card>
        
            }
        </div>

    </div>
   </section>