<section class="section">
    <div class="section__title">
        <h1>Categories</h1>


        <div class="section__grid">
            @for (category of categories?.content; track category.id) {

            <ui-card size="card-genre">
                <img src="" alt="{{category.label}}">

                <div>
                    <h3 class="card-genre__title">{{category.label}}</h3>

                    <a [routerLink]="'/categorie/' + category.id" class="btn btn-card"> <img src="svg/mdi_magnify.svg"
                            alt="">
                        <p>voir plus</p>
                    </a>
                </div>
            </ui-card>

            }
        </div>
        <div class="pagination">
        
            @for(page of pages; track page; let count=$index){
            @if(count===0){
            <li>
                <button (click)="pagePrevious()" [ngClass]="currentPage <= 0 ? 'grey-desactive-btn': 'blue-active-btn'"
                    class="previous">Previous</button>
            </li>
            }
            <li>
        
                <button (click)="pageCategories(page)" class=""
                    [ngClass]="currentPage===page ? 'bg-yellow-100':'background-color-pagination-yellow'">
                    {{count+1}}
                </button>
            </li>
            @if(count===lastPage-1){
            <li>
                <button (click)="pageNext()" [ngClass]="currentPage===lastPage-1 ? 'grey-desactive-btn': 'blue-active-btn'"
                    class="next">Next</button>
            </li>
            }
            }
        
        </div>
    </div>
</section>