<section class="section">
    <div class="section__title">
        <h1>Auteurs</h1>

        <div class="section__grid">
            @for (author of authors?.content; track author.id) {
        
            <ui-card size="card-genre">
                <img src="" alt="{{author.firstname}}">
        
                <div>
                    <h3 class="card-genre__title">{{author.firstname}} {{author.lastname}}</h3>
        
                    <a href="" class="btn btn-card"> <img src="svg/mdi_magnify.svg" alt="">
                        <p>voir plus</p>
                    </a>
                </div>
            </ui-card>
        
            }
        </div>


    </div>
   </section>
