<app-logout></app-logout>
<article class="section">
    <div class="card card-single-account">
        <div class="card-single-account__title">
            <h1>{{user?.username}}</h1>
        </div>

        <div class="card-padding">
            <div class="card-single-account__content">
                <div class="card-single-account__img">
                    <img [src]="user?.url" alt="">
                </div>

                <div class="card card-content">
                    <div class="card-content__title">
                        <h2>Informations</h2>
                    </div>
                    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="card-content__infos">
                        <label>Prénom</label>
                        <input type="text" formControlName="firstname" />
                        <div *ngIf="userForm.get('firstname')?.touched && userForm.get('firstname')?.errors">
                            <small *ngIf="userForm.get('firstname')?.errors?.['noHtml']">Les balises HTML ne sont pas
                                autorisées.</small>
                            <small *ngIf="userForm.get('firstname')?.errors?.['maxlength']">Maximum 100
                                caractères.</small>
                        </div>

                        <label>Nom</label>
                        <input type="text" formControlName="lastname" />
                        <div *ngIf="userForm.get('lastname')?.touched && userForm.get('lastname')?.errors">
                            <small *ngIf="userForm.get('lastname')?.errors?.['required']">Le nom est requis.</small>
                            <small *ngIf="userForm.get('lastname')?.errors?.['noHtml']">Les balises HTML ne sont pas
                                autorisées.</small>
                            <small *ngIf="userForm.get('lastname')?.errors?.['maxlength']">Maximum 1000
                                caractères.</small>
                        </div>

                        <label>Email</label>
                        <input type="email" formControlName="email" />
                        <div *ngIf="userForm.get('email')?.touched && userForm.get('email')?.errors">
                            <small *ngIf="userForm.get('email')?.errors?.['required']">L'email est requis.</small>
                            <small *ngIf="userForm.get('email')?.errors?.['noHtml']">Les balises HTML ne sont pas
                                autorisées.</small>
                            <small *ngIf="userForm.get('email')?.errors?.['maxlength']">Maximum 1000 caractères.</small>
                            <small *ngIf="userForm.get('email')?.errors?.['email']">Email invalide.</small>
                        </div>

                        <label>Numéro de téléphone</label>
                        <input type="text" formControlName="phoneNumber" />
                        <div *ngIf="userForm.get('phoneNumber')?.touched && userForm.get('phoneNumber')?.errors">
                            <small *ngIf="userForm.get('phoneNumber')?.errors?.['required']">Le numéro de téléphone est
                                requis.</small>
                            <small *ngIf="userForm.get('phoneNumber')?.errors?.['pattern']">Numéro de téléphone
                                invalide.</small>
                        </div>

                        <label>Url</label>
                        <input type="text" formControlName="url" />
                        <div *ngIf="userForm.get('url')?.touched && userForm.get('url')?.errors">
                            <small *ngIf="userForm.get('url')?.errors?.['required']">Le numéro de téléphone est
                                requis.</small>
                            <small *ngIf="userForm.get('url')?.errors?.['pattern']">Numéro de téléphone
                                invalide.</small>
                        </div>



                        <mat-expansion-panel hideToggle>
                            <mat-expansion-panel-header>
                                <mat-panel-title> Adresse </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div formGroupName="idUserAddress">
                                <label>Adresse (ligne 1)</label>
                                <input type="text" formControlName="line1" />
                                <div
                                    *ngIf="userForm.get('idUserAddress.line1')?.touched && userForm.get('idUserAddress.line1')?.errors">
                                    <small *ngIf="userForm.get('idUserAddress.line1')?.errors?.['required']">Ce champ
                                        est
                                        requis.</small>
                                    <small *ngIf="userForm.get('idUserAddress.line1')?.errors?.['maxlength']">Maximum
                                        255
                                        caractères.</small>
                                </div>
                            </div>

                            <div formGroupName="idUserAddress">
                                <label>Adresse (ligne 2)</label>
                                <input type="text" formControlName="line2" />
                                <div
                                    *ngIf="userForm.get('idUserAddress.line2')?.touched && userForm.get('idUserAddress.line2')?.errors">
                                    <small *ngIf="userForm.get('idUserAddress.line2')?.errors?.['required']">Ce champ
                                        est
                                        requis.</small>
                                    <small *ngIf="userForm.get('idUserAddress.line2')?.errors?.['maxlength']">Maximum
                                        255
                                        caractères.</small>
                                </div>
                            </div>

                            <div formGroupName="idUserAddress">
                                <label>Adresse (ligne 3)</label>
                                <input type="text" formControlName="line3" />
                                <div
                                    *ngIf="userForm.get('idUserAddress.line3')?.touched && userForm.get('idUserAddress.line3')?.errors">
                                    <small *ngIf="userForm.get('idUserAddress.line3')?.errors?.['required']">Ce champ
                                        est
                                        requis.</small>
                                    <small *ngIf="userForm.get('idUserAddress.line3')?.errors?.['maxlength']">Maximum
                                        255
                                        caractères.</small>
                                </div>
                            </div>
                            <div formGroupName="idUserAddress">
                                <label>Adresse (ligne 3)</label>
                                <input type="text" formControlName="city" />
                                <div
                                    *ngIf="userForm.get('idUserAddress.city')?.touched && userForm.get('idUserAddress.city')?.errors">
                                    <small *ngIf="userForm.get('idUserAddress.city')?.errors?.['required']">Ce champ est
                                        requis.</small>
                                    <small *ngIf="userForm.get('idUserAddress.city')?.errors?.['maxlength']">Maximum 255
                                        caractères.</small>
                                </div>
                            </div>
                            <div formGroupName="idUserAddress">
                                <label>Adresse (ligne 3)</label>
                                <input type="text" formControlName="postalCode" />
                                <div
                                    *ngIf="userForm.get('idUserAddress.postalCode')?.touched && userForm.get('idUserAddress.postalCode')?.errors">
                                    <small *ngIf="userForm.get('idUserAddress.postalCode')?.errors?.['required']">Ce
                                        champ est
                                        requis.</small>
                                    <small
                                        *ngIf="userForm.get('idUserAddress.postalCode')?.errors?.['maxlength']">Maximum
                                        255
                                        caractères.</small>
                                </div>
                            </div>
                        </mat-expansion-panel>


                        <button type="submit" [disabled]="userForm.invalid">Mettre à jour</button>
                    </form>




                </div>
            </div>
        </div>


    </div>
</article>

<section class="section">
    @if(mangas.length > 0){
    <div class="section__title">
        <h2>Mangas favoris de {{user?.username}} </h2>
    </div>
    @if(mangas.length == 1 ){
    <p>il y a actuellement {{mangas.length}} manga dans tes favoris</p>
    }@else{
    <p>il y a actuellement {{mangas.length}} mangas dans tes favoris</p>
    }
    <div class="section__grid">
        @for(manga of mangas; track $index ){
        <ui-card size="card-manga">

            <img class="image" [src]="manga.picture.url" alt="Image du manga {{manga.title}}">
            <div>
                <h3 class="card-manga__title">{{manga.title}}</h3>

            </div>

            <a [routerLink]="'/manga/' + manga.id" class="btn btn-card" [attr.aria-label]="'Voir la fiche de '">
                <img src="svg/mdi_magnify.svg">
                <p>voir plus</p>
            </a>
        </ui-card>
        }

    </div>
    } @else{
    <p>Aucun Favoris pour le moment</p>
    }



</section>