@use '../../../variables.scss' as *;

.section {
    .card-single-other {
        img {
            display: block;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: $margin;
        }

        .card-single-other__title {
            text-transform: uppercase;
            background: $tertiary ;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;

            h1 {
                margin: 0px;
                padding: $padding-s;
                color: black;
            }
        }

        .card-single-other__content {
            padding: $padding;

            .card-single-other__info {
                width: 80%;
                margin-left: auto;
                margin-right: auto;

                h2 {
                    margin: 0px;
                    padding-top: $padding-s;
                    padding-bottom: $padding-s;
                    color: black;
                }

                p {
                    margin: 0px;

                }

                >p {
                    padding: $padding-xl;
                }

                .card-single-other__info-title {
                    text-transform: uppercase;
                    background: $tertiary ;
                    padding: $padding-xs;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;


                }
            }
        }



    }
}


@media (min-width: 1280px) {}