@use '../../../variables.scss' as *;

.main_bredcrumb {
    display: none !important;
}

.infos-avis {
    height: 100px;
    display: flex;
    align-items: center;
}

.infos {
    background-color: $secondary;
    color: $white;
    width: 100%;

    .trait-vertical {
        display: none;
    }

    .verticale-mobile {
        display: block;
    }

    .horizontale-mobile{
        display: block;
    }

    >img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    >div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: $gap;
        flex-wrap: wrap;
    }

    .info {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: $gap;
        flex-wrap: wrap;
        min-width: 255px;
        justify-content: center;

        >div {
            min-width: 140px;
        }

        span {
            font-weight: $font-bold;
        }
    }
}

swiper-container {
    width: 340px !important;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;

    .ban-img {
        border-radius: 10px;
        box-shadow: $shadow;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

}

.swiper-button-next svg,
.swiper-button-prev svg {
    width: 50% !important;
}


/* Tablette en mode portrait (768px et plus) */
@media (min-width: 768px) {

    .swiper-genre,.swiper-manga{
        display: none;
    }


}


/* Tablette en mode paysage et petits PC portables (1024px et plus) */
@media (min-width: 1024px) {
    .infos {

    
        .trait-vertical {
            display: block;
        }
    
        .verticale-mobile {
            display: none;
        }
    
        .horizontale-mobile{
            display: none;
        }
    
        >div {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: $gap;
            flex-wrap: wrap;
        }
    
        
        }
}

/* Écran PC standard et laptop (1280px et plus) */
@media (min-width: 1280px) {
    
}

/* Grand écran PC (1440px et plus) */
@media (min-width: 1440px) {}

@media (min-width: 1920px) {}



.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
 }