
<section class="section">
    <div class="section__title">
        <h2>Manga du moment</h2>
    </div>

    </section>



<div class="infos">
    <div>
        <div class="info">
           <img src="svg\material-symbols_shield-outline.svg"  class="icon">
            <div  class="info__text">
                <p><span>Fiable et sûr</span> <br>
                    référence du manga</p>
            </div>
        </div>
        <img class="trait-vertical" src="images/Line_2.webp" alt="">
        <img class="horizontale-mobile" src="images/line-verticale-mobile.webp" alt="">
        <div class="info">
            <img src="svg\mdi_speak-outline.svg"  class="icon">
            <div class="info__text">
                <p> <span>1000 Mangas</span><br>
                    grande collection</p>
            </div>
        </div>
    </div>

</div>



<div class="infos infos-avis"> <img src="images/trust.webp" alt=""> </div>
<div class="infos">

    <div>
        <div class="info">
            <img src="svg\mdi_truck.svg"  class="icon">
            <div class="info__text">
                <p><span>Livraison</span> <br>
                    Dans toute la France</p>
            </div>
        </div>
        <img class="trait-vertical" src="images/Line_2.webp" alt="">
        <img class="horizontale-mobile" src="images/line-verticale-mobile.webp" alt="">

        <div class="info">
            <img src="svg/ic_baseline-phone.svg"  class="icon">
            <div class="info__text">
                <p> <span>Service clients</span><br>
                    24h/24h</p>
            </div>
        </div>
    </div>

</div>
