<swiper-container navigation="true" pagination="true">
    <swiper-slide><img src="images/ban.webp" alt="" class="ban-img"></swiper-slide>
    <swiper-slide><img src="images/ban.webp" alt="" class="ban-img"></swiper-slide>
    <swiper-slide><img src="images/ban.webp" alt="" class="ban-img"></swiper-slide>
    <swiper-slide><img src="images/ban.webp" alt="" class="ban-img"></swiper-slide>
</swiper-container>



<section class="section">
    <div class="section__title">
        <h2>Nouveauté Mangas</h2>
    </div>
    <swiper-container  navigation="true"   >
        <swiper-slide > <ui-card size="card-manga">
                <img src="images/bleach_44.webp" alt="">
                <div>
                    <h3 class="card-manga__title">Bleach</h3>
                    <p class="card-manga__autor">kubo tite</p>
                    <a href="" class="btn btn-card"> <img src="svg/mdi_magnify.svg" alt="">
                        <p>voir plus</p>
                    </a>
                </div>
            </ui-card></swiper-slide>
        <swiper-slide> <ui-card size="card-manga">
                <img src="images/bleach_44.webp" alt="">
                <div>
                    <h3 class="card-manga__title">Bleach</h3>
                    <p class="card-manga__autor">kubo tite</p>
                    <a href="" class="btn btn-card"> <img src="svg/mdi_magnify.svg" alt="">
                        <p>voir plus</p>
                    </a>
                </div>
            </ui-card></swiper-slide>
        <swiper-slide> <ui-card size="card-manga">
                <img src="images/bleach_44.webp" alt="">
                <div>
                    <h3 class="card-manga__title">Bleach</h3>
                    <p class="card-manga__autor">kubo tite</p>
                    <a href="" class="btn btn-card"> <img src="svg/mdi_magnify.svg" alt="">
                        <p>voir plus</p>
                    </a>
                </div>
            </ui-card></swiper-slide>
        <swiper-slide> <ui-card size="card-manga">
                <img src="images/bleach_44.webp" alt="">
                <div>
                    <h3 class="card-manga__title">Bleach</h3>
                    <p class="card-manga__autor">kubo tite</p>
                    <a href="" class="btn btn-card"> <img src="svg/mdi_magnify.svg" alt="">
                        <p>voir plus</p>
                    </a>
                </div>
            </ui-card></swiper-slide>
    </swiper-container>
</section>

<div class="infos">
    <div>
        <div class="info">
            <img src="svg\material-symbols_shield-outline.svg" class="icon">
            <div class="info__text">
                <p><span>Fiable et sûr</span> <br>
                    référence du manga</p>
            </div>
        </div>
        <img class="trait-vertical" src="images/Line_2.webp" alt="">
        <img class="horizontale-mobile" src="images/line-verticale-mobile.webp" alt="">
        <div class="info">
            <img src="svg\mdi_speak-outline.svg" class="icon">
            <div class="info__text">
                <p> <span>1000 Mangas</span><br>
                    grande collection</p>
            </div>
        </div>
    </div>

</div>


<section class="section">
    <div class="section__title">
        <h2>Mangas populaires</h2>
    </div>
    <swiper-container navigation="true" pagination="true">
        <swiper-slide><img alt="" class="ban-img"></swiper-slide>
        <swiper-slide><img alt="" class="ban-img"></swiper-slide>
        <swiper-slide><img alt="" class="ban-img"></swiper-slide>
        <swiper-slide><img alt="" class="ban-img"></swiper-slide>
    </swiper-container>
</section>

<div class="infos infos-avis"> <img src="images/trust.webp" alt=""> </div>

<section class="section">
    <div class="section__title">
        <h2>Genres</h2>
    </div>
    <swiper-container navigation="true" pagination="true">
        <swiper-slide><img alt="" class="ban-img"></swiper-slide>
        <swiper-slide><img alt="" class="ban-img"></swiper-slide>
        <swiper-slide><img alt="" class="ban-img"></swiper-slide>
        <swiper-slide><img alt="" class="ban-img"></swiper-slide>
    </swiper-container>
</section>

<div class="infos">

    <div>
        <div class="info">
            <img src="svg\mdi_truck.svg" class="icon">
            <div class="info__text">
                <p><span>Livraison</span> <br>
                    Dans toute la France</p>
            </div>
        </div>
        <img class="trait-vertical" src="images/Line_2.webp" alt="">
        <img class="horizontale-mobile" src="images/line-verticale-mobile.webp" alt="">

        <div class="info">
            <img src="svg/ic_baseline-phone.svg" class="icon">
            <div class="info__text">
                <p> <span>Service clients</span><br>
                    24h/24h</p>
            </div>
        </div>
    </div>

</div>


<section class="section">
    <div class="section__title">
        <h2>Manga du moment</h2>
    </div>
    <ui-card size="card-manga">
        <img src="images/bleach_44.webp" alt="">
        <div>
            <h3 class="card-manga__title">Bleach</h3>
            <p class="card-manga__autor">kubo tite</p>
            <a href="" class="btn btn-card"> <img src="svg/mdi_magnify.svg" alt="">
                <p>voir plus</p>
            </a>
        </div>
    </ui-card>
    <ui-card size="card-genre">
        <img src="images/test_card_genre.webp" alt="">

        <div>
            <h3 class="card-genre__title">Baston</h3>

            <a href="" class="btn btn-card"> <img src="svg/mdi_magnify.svg" alt="">
                <p>voir plus</p>
            </a>
        </div>
    </ui-card>
</section>