@use '../../../variables.scss' as *;

.main_bredcrumb {
    display: none !important;
}

.infos-avis {
    height: 100px;
    display: flex;
    align-items: center;
}

.infos {
    background-color: $secondary;
    color: $white;
    width: 100%;

    .trait-vertical {
        display: none;
    }

    .verticale-mobile {
        display: block;
    }

    .horizontale-mobile {
        display: block;
    }

    >img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    >div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: $gap;
        flex-wrap: wrap;
    }

    .info {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: $gap;
        flex-wrap: wrap;
        min-width: 255px;
        justify-content: center;

        >div {
            min-width: 140px;
        }

        span {
            font-weight: $font-bold;
        }
    }
}

swiper-container {
    width: 340px !important;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;

    .ban-img {
        border-radius: 10px;
        box-shadow: $shadow;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

}


.swipper-ban {
    width: 340px !important;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    display: block;

    .ban-img {
        border-radius: 10px;
        box-shadow: $shadow;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.swipper-desktop {
    display: none;
}

.swiper-button-next svg,
.swiper-button-prev svg {
    width: 50% !important;
}


@media (min-width: 768px) {

    .swiper-genre,
    .swiper-manga {
        display: none;
    }


}


@media (min-width: 1024px) {

    .swipper-ban {
        display: none;
    }

    swiper-container.swipper-desktop {
        display: block;
        width: 1000px !important;
        swiper-slide{
            border-radius: 15px;
                -webkit-border-radius: 15px;
                -moz-border-radius: 15px;
                -ms-border-radius: 15px;
                -o-border-radius: 15px;
        }
         img{
            border-radius: 15px;
                -webkit-border-radius: 15px;
                -moz-border-radius: 15px;
                -ms-border-radius: 15px;
                -o-border-radius: 15px;
         }
}

    .infos {
        .trait-vertical {
            display: block;
        }

        .verticale-mobile {
            display: none;
        }

        .horizontale-mobile {
            display: none;
        }

        >div {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: $gap;
            flex-wrap: wrap;
        }


    }
}

@media (min-width: 1280px) {}

@media (min-width: 1440px) {}

@media (min-width: 1920px) {}



.title__infos,.title__summary{
border-top-left-radius: 5px;
 border-top-right-radius: 5px;

}
