name: Test Spring Back

on:
  push:
    branches: [integration]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 17

      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Run tests with test profile and verbose logs
        run: mvn clean test -Dspring.profiles.active=test -e -X
        working-directory: ./manga-up-back

      - name: Show test reports
        run: |
          echo "==== Contenu des rapports de tests ===="
          cat ./manga-up-back/target/surefire-reports/*.txt || echo "Aucun rapport trouvé."
        working-directory: ./manga-up-back

      - name: Success message
        if: success()
        run: echo "✅ Java tests passed with profile 'test'. You can create a pull request to main."
