<article class="section">
    <div class="card card-single-other">
        <div class="card-single-other__title">
            <h1>{{category?.label}}</h1>
        </div>
        <div class="card-single-other__content">
            <img src="images/test_card_genre.webp" alt="">
            <div class=" card card-single-other__info">
                <div class="card-single-other__info-title">
                    <p>Résumé</p>
                </div>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia, veritatis? Ipsum, soluta et nisi
                    tempore doloribus sed nihil quasi omnis voluptatem dolor repellendus eius commodi optio eum
                    repudiandae autem unde.
                    Tempora ipsa ducimus distinctio quaerat exercitationem natus fugiat iusto veritatis, illo omnis
                    maiores ratione cumque nulla incidunt ipsam voluptatem rerum quod alias repellat iure
                    consequatur consectetur reiciendis, facilis voluptates. Sapiente!
                    Sunt incidunt dolorem, doloribus aliquid culpa corporis, ipsa excepturi, distinctio eius atque
                    architecto adipisci odit. Adipisci quasi qui doloremque ducimus eveniet soluta maxime officia
                    natus, repudiandae molestiae quod, architecto totam.</p>
            </div>
        </div>




    </div>

</article>


<section class="section">
    <div class="section__title">
        <h2>Mangas dans la categorie</h2>
    </div>

</section>
